*{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}
 
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2e8f0; 
}

.conteiner{
     min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas: 
    "header  header header header"
    "sidebar  main  main aside"
    "footer footer footer aside";
    background-image:url("../img/background-tecnologia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   font-size: large;
   text-align: center;
        }


.conteiner::before{
    content:"";
    position:absolute;
inset: 0;
background: rgba(0, 0, 0, 0.3);
}
.conteiner > *{
    position:relative;
    z-index: 1;
}
.header{
    grid-area:header;
   text-shadow: rgb(255, 255, 255) 5px 5px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
 font: 1.2rem; 
 border: 2px solid;
 padding: 5px;
 background: radial-gradient( blue ,#fff);
 border-radius: 10px;
}


.main{
    grid-area: main;
    color: #fff;
}
.main__tutulo{
    font-size: 24px;
    text-align: center;
    padding: 4px;
    text-shadow: blue 2px 4px 0px;
}
.main__paragrafo{
    font-size: 2cap;
    word-spacing: 3px;
    line-height: 1.6;
}

.sidebar{
    grid-area: sidebar;
    text-align: center;
     border:1px solid;
     overflow: hidden;
 
   
}
.sidebar__menu{
 display: flex;
    align-items: center;
   justify-content: center;
   height: 100px;
 background: radial-gradient( blue ,#fff);
   
}

.sidebar__button{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 15px;
}

.sidebar__link{
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;

  padding: 12px;
  width: 100%;

  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;

  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;

  transition: 0.3s ease;
}


.sidebar__link:hover {
  background: linear-gradient(135deg, #2563eb, #60a5fa);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}


.aside{
    grid-area: aside;
     border:1px solid;
    
}
.aside__list{
    background-color:rgba(0, 0, 255, 0.5);
    max-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: column;
   list-style: none;
}
.aside__item{
    padding:5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}
 .aside__title{
    color:  #000000;
    background: radial-gradient( blue ,#fff);
    font-size: 3cap;
 }

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items:center;
   background: linear-gradient(rgba(255, 255, 255, 0.3) , 	rgba(0, 0, 255, 0.6));
   color: white;
   font-size: 20px;
   text-shadow: white 4px 3px 2px;

}

@media (max-width: 900px){

  .conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "aside"
      "footer";

    font-size: medium;
  }

  .header{
    font-size: 1rem;
  }

  .main .main__tutulo{
    font-size: 20px;
  }

  .main__paragrafo{
    font-size: 14px;
    padding: 10px;
  }

  .sidebar__menu{
    height: auto;
    padding: 10px;
  }

  .sidebar__link{
    width: 100%;
  }

  .sidebar__button{
    width: 90%;
    height: auto;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .aside__list{
    align-items: center;
  }

  .aside__item{
    width: 90%;
    margin-bottom: 5px;
  }

  .footer {
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
}
/*Estilos da pagina de formulario*/
.form{
  width: 500px; 
  padding: 35px;
  background-color: #1e3a8a; 
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  color: white;
  text-align: center; 
}
.form__title{
  margin-bottom: 25px;
  font-size: 32px;
  color: #fff;
}
.form__label{
   display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}
.from__textArea,.form__input{
   width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.form__input::placeholder,
.from__textArea::placeholder {
  color: #000000;
}
.form__button{
  width: 100%;
  padding: 15px;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form__button:hover{
 background-color: red;
}


/* PAGINA DE SERVIÇOS*/
body{
  margin: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__cabeçalho{
  text-align: center;
  background-color: blue;
  padding: 20px;
}
.main__serviços{
  flex: 1;
  max-width: 900px;
  padding:20px;
  margin: auto;
  
}
.main__item{
  background-color: #1a253e;
  border-radius: 10px;
 padding: 16px;
 margin-bottom: 18px;
 font-size: 18px;
}
.titulos{
 color: #60a5fa;
 
}
  .footer__servicos{
      background-color: #020617;
      text-align: center;
      padding: 10px;
      font-size: 28px;
      position: fixed ;
      bottom: 0;
      width: 100%;
      color:white
    }