*{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}


.conteiner{
     min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas: 
    "header  header header header"
    "sidebar  main  main aside"
    "footer footer footer aside";
    background-image:url("../img/background-tecnologia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   font-size: large;
   text-align: center;
}
.conteiner::before{
    content:"";
    position:absolute;
inset: 0;
background: rgba(0, 0, 0, 0.3);
}
.conteiner > *{
    position:relative;
    z-index: 1;
}

header{
    grid-area:header;
   text-shadow: rgb(255, 255, 255) 5px 5px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
 font-size:2cap; 
 border: 2px solid;
 padding: 5px;
 background: radial-gradient( blue ,#fff);
 border-radius: 10px;
}

main{
    grid-area: main;
    color: #fff;
}
main >h1{
    font-size: 24px;
    text-align: center;
    padding: 4px;
    text-shadow: blue 2px 4px 0px;
}
p{
    font-size: 2cap;
    word-spacing: 3px;
    line-height: 1.6;
}

.sidebar{
    grid-area: sidebar;
    text-align: center;
     border:1px solid;
 
   
}
.menu{
 display: flex;
    align-items: center;
   justify-content: center;
   height: 100px;
 background: radial-gradient( blue ,#fff);
   
}
.button{
             display: flex;
 align-items:center;

 flex-direction: column;
 width: 100%;
 height: 100%;

 
}

button{
    margin-bottom:11px;
    width: 100%;
    height: 20%;
    font-size: 20px;
border-radius: 5px;
border: solid 1px black;
box-shadow: black 3px 5px 3px;
 margin-bottom:20%;
 background-color:rgb(0, 0, 6);
 opacity:0.5;
 color: white;
 margin-top:0%
}
button:hover{
 padding: 1px;
 margin-bottom: 15px;
 width: 95%;
 height: 5%;
 background-color: rgba(247, 5, 5, 0.3);
 font-size: 18px;
border-radius: 5px;
border:solid 1px;
transition: 0.8s;
opacity:1;
}

aside{
    grid-area: aside;
     border:1px solid;
     background-color: red;
   flex-direction: column;
   display: flex;
   align-items: center;
}
 #depoimento{
    color:  #000000;
    background: radial-gradient( blue ,#fff);
    font-size: 3cap;
 }

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items:center;
   background: linear-gradient(rgba(255, 255, 255, 0.3) , 	rgba(0, 0, 255, 0.6));
   color: white;
   font-size: 20px;
   text-shadow: white 4px 3px 2px;

}

